# standard unix commands replacements
alias sudo="sudo "
alias ls="lsd"
alias bfg="java -jar ~/.bin/bfg.jar"
alias diff="delta"
alias df="duf"
alias man="tldr"
alias apt="nala"
alias cat="bat"

# git
alias bfg="java -jar ~/.bin/bfg.jar"

# WSL
alias mklink=" . mklink.sh"

# Custom

## Internet Archive
ia(){
  curl https://web.archive.org/save/$1
}

ocr() {
  ocrmypdf -l eng --rotate-pages --deskew --jobs 4 $1 $1
}

destreamer() {
  pushd ~/.bin/destreamer/ && ./destreamer.sh -k --cc -o ~/Desktop/ -i "$@" && popd
}

decodeFont() {
  base64 --decode $1.txt 2> /dev/null > $1.bin
}

alias youtube-dl="youtube-dl -f best --add-metadata --all-subs --embed-subs --embed-thumbnail"

alias git-commit-no-edit-date="env GIT_AUTHOR_DATE=\"$(git log --no-walk --format=%ad)\" GIT_COMMITTER_DATE=\"$(git log --no-walk --format=%cd)\" git commit --amend"


pdf-bookmarker() {
  input_path="eval $(cd "$(dirname "$1")"; pwd)/$(basename "$1")"
  (cd /home/huey/projects/pdf-bookmarker; poetry run python src/app.py $input_path)
}
