# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Huey
  signingkey = 733C1AD5BD4F9B4CF5B2677B54C82E718C137231
  email = hello@huey.xyz
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[push]
  default = simple
[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  cap = "!f() { git commit -m \"$@\"; }; f"

  # DEPENDENCY
  dep ="!f(){ git cap \"📦 dep: $@\"; }; f"

  # NEW
  new = !f(){ git cap \""✨ new: $@\"; }; f"

  # IMPROVE
  improve = !f(){ git cap \""⚡improve: $@\"; }; f"

  # TEST
  test = !f(){ git cap \""🤖 test: $@\"; }; f"

  # BUG
  bug = !f(){ git cap \""🐛 bug: $@\"; }; f"

  # DOC
  doc = !f(){ git cap \"" 📖 doc: $@\"; }; f"

[commit]
  gpgsign = true
[gpg]
  program = gpg2
[pull]
  ff = only
[init]
  defaultBranch = main

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /home/huey/.config/netlify/helper/git-config
